* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background: #f8f3e6;
  font-size: 20px;
  overflow-x: hidden;
}

nav {
  background: #ffffff;
  border-bottom: 1px solid #b69b43;
  padding: 15px;
}
.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* NAV DARK */
body.dark nav {
  background: #26211a;
  border-bottom: 1px solid #3d352b;
}

/* GEM LOGO */
.logo {
  font-family: "Playfair", serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #d4af37;
  margin-right: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.8rem;
  margin-right: auto;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #d4af37;
  font-family: serif;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #8b7500;
  padding-bottom: 5px;
}

/* BUTTON */
.theme-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #d4af37;
  text-decoration: none;

  transition: 0.3s;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

/* hover */
.theme-icon:hover {
  background: #dac29a;
  color: #31291e;
  transform: scale(1.1);
}
.login-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #d4af37;
  text-decoration: none;

  transition: 0.3s;
  background: transparent;
  font-size: 1rem;
}

/* hover */
.login-icon:hover {
  background: #dac29a;
  color: #31291e;
  transform: scale(1.1);
}

/* CONTAINERS */

.containers {
  color: #000;
  line-height: 1.6;
  padding: 20px;
}

.containers p {
  max-width: 650px;
}

.containers b {
  color: #d4af37;
}

.containers h1 {
  color: #d4af37;
  font-family: "Cinzel", serif;
  line-height: 1;
  margin-bottom: 10px;
}

/* PURPOSE SECTION */

.purpose-section {
  padding: 0 20px 20px;
}

.purpose {
  color: #d4af37;
  margin-bottom: 10px;
  font-family: "Cinzel", serif;
}

.purpose-section ul {
  padding-left: 20px;
  line-height: 1.8;
}

/* BOX */

.box {
  width: fit-content;
  border: 1px solid #d4af37;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: rgba(212, 175, 55, 0.1);
  font-family: "Cinzel", serif;
}

.box h3 {
  color: #d4af37;
  margin-bottom: 10px;
}

.box p {
  max-width: 500px;
  line-height: 1.6;
}

/* INFO CARDS */

.info-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  margin-top: 40px;
  background: #f8f3e6;
  background-image: url(images/ChatGPT\ Image\ May\ 1\,\ 2026\,\ 01_44_40\ PM.png);
  background-size: contain;
}

.card {
  width: 400px;
  height: 500px;
  background: #f8f3e6;
  border-radius: 15px;
  box-shadow: 0 5px 15px #df8611d6;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card video {
  width: 100%;
  height: 66%;
  object-fit: fill;
}

.card h3 {
  margin: 15px 0;
  color: #d4af37;
}

.card p {
  width: 100%;
  padding: 0 15px 20px;
  text-align: center;
  line-height: 1.6;
}

.card:hover {
  transform: translateY(-10px);
  background: #df97111f;
}

/* FOOTER */

footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #b69b43;
  padding: 50px 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  font-family: "Playfair Display", serif;
}

.icon {
  max-width: 320px;
}

.icon p:first-child {
  font-size: 22px;
  color: #c9a227;
  margin-bottom: 15px;
}

.icon p:last-child {
  color: #8b7500;
  line-height: 1.8;
  font-size: 16px;
}

.links {
  min-width: 200px;
}

.footer_links {
  list-style: none;
}

.footer_links li {
  margin-bottom: 2px;
}

.footer_links h3,
.access h3 {
  color: #c9a227;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer_links a {
  text-decoration: none;
  color: #8b7500;
  font-size: 17px;
  transition: 0.3s;
}

.footer_links a:hover {
  color: #c9b327;
  padding-left: 5px;
}

.access p {
  color: #8b7500;
  font-size: 17px;
  margin-bottom: 18px;
}

/* DARK MODE */

body.dark {
  background: #1a1712;
  color: #ece3d9;
}

body.dark nav,
body.dark footer {
  background: #26211a;
  border-color: #3d352b;
}

body.dark .containers,
body.dark .purpose-section,
body.dark .card p,
body.dark li {
  color: #c4b39a;
}

body.dark h1,
body.dark h3,
body.dark b {
  color: #d4af37;
}

body.dark .card {
  background: #2b241c;
}

body.dark .card:hover {
  background: #3a302625;
}

body.dark .info-cards {
  background-image: url(images/darkmode.png);
}
