/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  background: #f5e9d8;
  color: #111;
  transition: 0.3s;
}

/* DARK MODE */
body.dark {
  background: #1c1a17;
  color: #fff;
}

/* NAVIGATION */
nav {
  background: #ffffff;
  border-bottom: 1px solid #b69b43;
  padding: 15px;
}
.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* NAV DARK */
body.dark nav {
  background: #26211a;
  border-bottom: 1px solid #3d352b;
}

/* GEM LOGO */
.logo {
  font-family: "Playfair", serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #d4af37;
  margin-right: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.8rem;
  margin-right: auto;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #d4af37;
  font-family: serif;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #8b7500;
  padding-bottom: 5px;
}

/* BUTTON */
.theme-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #d4af37;
  text-decoration: none;

  transition: 0.3s;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

/* hover */
.theme-icon:hover {
  background: #dac29a;
  color: #31291e;
  transform: scale(1.1);
}
.login-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #d4af37;
  text-decoration: none;

  transition: 0.3s;
  background: transparent;
  font-size: 1rem;
}

/* hover */
.login-icon:hover {
  background: #dac29a;
  color: #31291e;
  transform: scale(1.1);
}

/* HERO */
.hero {
  position: relative;

  width: 95%;
  height: 90vh;

  margin: 20px auto;

  border-radius: 20px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: rgba(0, 0, 0, 0.275);

  padding: 2rem 3rem;

  border-radius: 20px;

  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  max-width: 2000px;
}

/* TITLE */
.hero h1 {
  color: #f4d27a;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  margin-bottom: 15px;
}

/* PARAGRAPH */
.hero p {
  color: #f8f3ea;

  margin-bottom: 20px;

  font-size: 18px;
}

/* BOOK BUTTON */
.book-btn {
  padding: 0.75rem 1.7rem;
  background: linear-gradient(200deg, #d4af37, #dfbc4b);

  color: #31291e;
  text-decoration: none;
  border-radius: 40px;
  font-family: "Cinzel", serif;
  font-size: 0.95rem;
  font-weight: 700;
  transition: all 0.3s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.book-btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(200deg, #b69b43, #dfbc4b);
}

/* click */
.book-btn:active {
  transform: scale(0.96);
}

/* HIGHLIGHTS */
.highlights {
  text-align: center;
  padding: 60px 20px;
}

.highlights h2 {
  color: #d4af37;
  font-family: "Playfair Display", serif;

  margin-bottom: 25px;
}

/* GRID */
.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 14px;

  padding: 0 20px;
}

/* CARD */
.card {
  border: 2px solid #d4af37;

  border-radius: 12px;

  overflow: hidden;
}

/* IMAGE */
.card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* SIZES */
.card.tall {
  height: 240px;
}

.card.small {
  height: 150px;
}

/* ancient  */
.ancient {
  text-align: center;

  padding: 60px 20px;
}

.ancient h4 {
  color: #d4af37;

  font-family: "Playfair Display", serif;

  margin-bottom: 15px;
}

.ancient p {
  color: #d4af37;

  font-family: "Playfair Display", serif;

  max-width: 700px;

  margin: auto;

  line-height: 1.8;
}

.ancient button {
  padding: 0.75rem 1.7rem;
  background: linear-gradient(200deg, #d4af37, #dfbc4b);
  margin: 20px;
  color: #31291e;
  text-decoration: none;
  border-radius: 40px;
  font-family: "Cinzel", serif;
  font-size: 0.95rem;
  font-weight: 700;
  transition: all 0.3s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ancient button:hover {
  transform: translateY(-3px);
  background: linear-gradient(200deg, #b69b43, #dfbc4b);
}
/*  FOOTER  */
footer {
  font-family: "Playfair Display", serif;
  background-color: white;
  border-top: 1px solid #b69b43;
  padding: 50px 80px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.icon {
  max-width: 320px;
}

.icon p:first-child {
  font-size: 20px;
  color: #c9a227;
  margin-bottom: 15px;
}

.icon p:last-child {
  color: #8b7500;
  line-height: 1.8;
  font-size: 16px;
}

.links {
  min-width: 200px;
}

.footer_links {
  list-style: none;
}

.footer_links li {
  margin-bottom: 5px;
}

.footer_links a {
  text-decoration: none;
  color: #8b7500;
  font-size: 15px;
  transition: 0.3s;
}

.footer_links a:hover {
  color: #c9b327;
  padding-left: 5px;
}

.footer_links h3 {
  color: #c9a227;
  margin-bottom: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.acsses p {
  color: #c9a227;
  font-size: 20px;
  font-weight: bold;
}

.access h3 {
  color: #c9a227;
  margin-bottom: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.access p {
  margin-bottom: 18px;
  color: #555;
  font-size: 15px;
  color: #8b7500;
}

body.dark footer {
  background: #26211a;
  border-top: 1px solid #3d352b;
}

/*  SLIDESHOW  */

/* SLIDES CONTAINER */
.slides {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
}

/* EACH IMAGE */
.slide {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  opacity: 0;

  transition: opacity 1s ease-in-out;
}

/* ACTIVE IMAGE */
.slide.active {
  opacity: 1;
}
