:root {
  --nav-bg: white;
}

.dark {
  --nav-bg: #26211a;
}
nav {
  background-color: var(--nav-bg);
  transition: 0.3s;
  font-family: "playfair Display", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #d4af37;
  text-decoration: none;
  font-size: 1rem;
  font-family: serif;
}
nav ul li a:hover {
  color: #8b7500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f3e6;
  color: #111;
}

.logo {
  color: #d4af37;
  font-family: "Playfair Display", serif;
}

.links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.links a {
  color: #d4af37;
  text-decoration: none;
}

.theme-btn {
  font-family: "playfair Display", sans-serif;

  background: #d4af37;
  color: #000;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}
p {
  font-family: "playfair Display", sans-serif;
  color: #d4af37;
  line-height: 1.6;
  font-size: 15px;
}

.hero {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
