@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f5e9d8;
  color: #111;
  transition: 0.3s;
}
body.dark {
  background: #1c1a17;
  color: #fff;
}
nav {
  background: #ffffff;
  border-bottom: 1px solid #b69b43;
  padding: 15px;
}
.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body.dark nav {
  background: #26211a;
  border-bottom: 1px solid #3d352b;
}
.logo {
  font-family: "Playfair", serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #d4af37;
  margin-right: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.8rem;
  margin-right: auto;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #d4af37;
  font-family: serif;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: #8b7500;
  padding-bottom: 5px;
}
.theme-icon,
.login-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #d4af37;
  text-decoration: none;
  transition: 0.3s;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.theme-icon:hover,
.login-icon:hover {
  background: #dac29a;
  color: #31291e;
  transform: scale(1.1);
}
.top {
  background-image: url(images/blabla.jpg);
  background-size: cover;
  height: 60vh;
  display: flex;
  padding-left: 10px;
  padding-bottom: 40px;
  text-align: left;
  color: #f8f3e6;
}
.top h1 {
  font-size: 40px;
  color: #d4af37;
  margin-bottom: 10px;
}
.top p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: beige;
}

.container {
  width: 85%;
  margin: 50px auto;
}
.visit-table {
  margin: 0 auto;
  width: 80%;
  background: #f8f3e6;
  border-radius: 15px;
}
.visit-table th {
  background-color: #d4af37;
  color: #fff;
  padding: 20px;
}
.visit-table td {
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}
.map-container {
  margin-top: 60px;
  text-align: center;
}
.map-container h2 {
  color: #d4af37;
  margin-bottom: 20px;
}
body.dark {
  background-color: #1a1712;
  color: #ece3d9;
}
body.dark .nav {
  background-color: #26211a;
}
.body.dark .nav ul li a {
  color: #d4af37;
}
body.dark .nav ul li a:hover {
  color: #8b7500;
}
body.dark .visit-table {
  background-color: #26211a;
}
body.dark .visit-table td {
  border-bottom-color: #d4af37;
}
.hero-small {
  text-align: center;
  padding: 60px 20px;
}
.hero-small h1 {
  color: #d4af37;
  margin-bottom: 10px;
}
.hero-small p {
  color: #d4af37;
}
.policies {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.policy-card {
  background: #ffffff;
  border: 1px solid #d4af37;
  border-radius: 12px;
  padding: 25px;
}
.policy-card:hover {
  transform: translateY(-5px);
}
body.dark .policy-card {
  background: #2a2622;
}
.policy-card h2 {
  color: #d4af37;
  margin-bottom: 10px;
}
.policy-card p {
  color: #d4af37;
  line-height: 1.7;
}
footer {
  font-family: "Playfair Display", serif;
  background-color: white;
  border-top: 1px solid #b69b43;
  padding: 50px 80px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.icon {
  max-width: 320px;
}
.icon p:first-child {
  font-size: 20px;
  color: #c9a227;
  margin-bottom: 15px;
}
.icon p:last-child {
  color: #8b7500;
  line-height: 1.8;
  font-size: 16px;
}
.links {
  min-width: 200px;
}
.footer_links {
  list-style: none;
}
.footer_links li {
  margin-bottom: 5px;
}
.footer_links a {
  text-decoration: none;
  color: #8b7500;
  font-size: 15px;
  transition: 0.3s;
}
.footer_links a:hover {
  color: #c9b327;
  padding-left: 5px;
}
.footer_links h3 {
  color: #c9a227;
  margin-bottom: 15px;
  font-size: 20px;
}
.access h3 {
  color: #c9a227;
  margin-bottom: 15px;
  font-size: 20px;
}
.access p {
  margin-bottom: 18px;
  color: #8b7500;
  font-size: 15px;
}
body.dark footer {
  background: #26211a;
  border-top: 1px solid #3d352b;
}
